* {
    text-decoration: none;
    padding: 0;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 414px;
    height: 896px;
    margin: 0 auto;
}

.conteiner {
    display: flex;
    flex-direction: column;
}

.header img {
    width: 200px;
    height: 200px;
    margin-right: 107px;
    margin-left: 107px;
    margin-top: 75px;
    border-radius: 50%;
    justify-content: center;
    border: 4px solid #0a008f;
}

.header section span {
    display: flex;
    width: 140px;
    height: 26px;    
    padding-left: 140px;
    padding-top: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    opacity: 0.8;
}

.conteiner .main {
    display: flex;
    flex-direction: column;
}

.main .box-links {
    display: flex;
    flex-direction: column;   
    padding-left: 44px;
    padding-top: 33px;
    justify-content: space-between;
    width: 328px;
    height: 244px;

    color:#0a008f;
}

.main .box-links .links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 326px;
    height: 49px;    
    border: 2px solid #0a008f;
    border-radius: 4px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.8;
}

.main .box-icons {
    display: flex;
    justify-content: space-between;
    padding-left: 123px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 183px;
    height: 24px;
}

.footer p {
    text-align: center;
}



    